<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.raghava.shopaholic">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo_round_icon"
        android:screenOrientation="portrait"
        android:supportsRtl="true"
        android:theme="@style/Theme.Shopaholic"
        tools:targetApi="31">
        <activity
            android:name=".stats"
            android:exported="false" />
        <activity
            android:name=".last_order_products_view"
            android:exported="false" />
        <activity
            android:name=".RateView"
            android:exported="false" />
        <activity
            android:name=".favorite_list"
            android:exported="false" />
        <activity
            android:name=".address_error_handling"
            android:exported="false" />
        <activity
            android:name=".ShowHistory"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".PlaceOrderActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ProductDetails"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".productActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".menuFiles.SearchActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".menuFiles.ProfileActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".menuFiles.CartActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".menuFiles.AddProduct"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".menuFiles.baseActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".HomeActivity"
            android:exported="true"
            android:screenOrientation="portrait">
<!--            <intent-filter>-->
<!--                <action android:name="android.intent.action.MAIN" />-->

<!--                <category android:name="android.intent.category.LAUNCHER" />-->
<!--            </intent-filter>-->
        </activity>
        <activity
            android:name=".RegisterActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".LoginActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".splashScreen"
            android:exported="true"
            android:screenOrientation="portrait">

             <intent-filter>
             <action android:name="android.intent.action.MAIN" />
             <category android:name="android.intent.category.LAUNCHER" />
             </intent-filter>

        </activity>
        <activity
            android:name=".introActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
    </application>

</manifest>